./Lexer/Lexer.hi
./Lexer/Lexer.hs
./Lexer/Lexer.o
./Lexer/Lexer
./Lexer/Parser.hi
./Lexer/Parser.hs
./Lexer/Parser.o
./Lexer/Parser.y
./Lexer/Parser
./Lexer/Tokens_posn.hi
./Lexer/Tokens_posn.hs
./Lexer/Tokens_posn.o
./Lexer/Tokens_posn.x
./Parser/Parser.hi
./Parser/Parser.hs
./Parser/Parser.o
./Parser/Parser
